# This file lists all of the environment variables that can be set for various configuration
# options.

# APP_NAME is used for end-user text, such as email content
# default = "WeCarry"
#APP_NAME=WeCarry

# AWS_REGION is used for both S3 and SES. It has no default and is required.
AWS_REGION=

# Support email is used for CertMagic / Let's Encrypt
SUPPORT_EMAIL=

# Disable TLS is available for local development
DISABLE_TLS=false

# AWS S3 configuration. AWS_S3_BUCKET, AWS_S3_ACCESS_KEY_ID, AND AWS_SECRET_ACCESS_KEY are required
#AWS_S3_ENDPOINT=
#AWS_S3_DISABLE_SSL=false
AWS_S3_BUCKET=
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=

# AWS SES Credentials, required if EMAIL_SERVICE=ses
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=

# User Interface URL
UI_URL=

# User access token lifetime (seconds) past the time last used successfully. Default is 3600.
#ACCESS_TOKEN_LIFETIME_SECONDS=3600

# For OAuth authentication. Default=testing.
SESSION_SECRET=

# AKA App ID
FACEBOOK_KEY=abc123
FACEBOOK_SECRET=abc123

GOOGLE_KEY=abc123
GOOGLE_SECRET=abc123

LINKED_IN_KEY=abc123
LINKED_IN_SECRET=abc123

MICROSOFT_KEY=abc123
MICROSOFT_SECRET=abc123

TWITTER_KEY=abc123
TWITTER_SECRET=abc123

# Configure an email service, options are: dummy, sendgrid, ses
#EMAIL_SERVICE=sendgrid

# Sendgrid credentials, required if EMAIL_SERVICE=sendgrid
SENDGRID_API_KEY=

# Options: dummy, twilio
#MOBILE_SERVICE=dummy

# Email address used in the FROM header of email messages
EMAIL_FROM_ADDRESS=

# Log level options: trace, debug, info, warn, warning, error, fatal, panic
#LOG_LEVEL=debug

# Token for Rollbar logging service. Disabled if omitted.
#ROLLBAR_TOKEN=

# Bearer token for the /service REST API
SERVICE_INTEGRATION_TOKEN=

# Maximum number of files to delete in service file_cleanup task
#MAX_FILE_DELETE=10

# For CertMagic / Let's Encrypt
CERT_DOMAIN_NAME=
CLOUDFLARE_AUTH_EMAIL=
CLOUDFLARE_AUTH_KEY=
