application/swagger.json
application/vendor/
**/*.log
.idea/
bin/
tmp/
*-packr.go
.vscode/
.grifter/

*.env
!local-example.env

**/.DS_Store
*.pid
coverage
coverage.data
.console_history
.jhw-cache/
jhw.*
generated/
.vendor/
*.aes
application/grifts/private.go
application/migrations/schema.sql
*.pem
