<table style="margin: 0 auto" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" style="border-radius: 4px;" bgcolor="#00A7E1">
      <a href="<%= url %>" target="_blank"
         style="font-size: .875rem; font-family: Roboto, sans-serif; color: #ffffff; text-decoration: none;
                letter-spacing: 0.0892857143em; text-transform: uppercase; border-radius: 4px; padding: 6px 16px;
                border: 1px solid #00A7E1; display: inline-block;">
        <%= label %>
      </a>
    </td>
  </tr>
</table>
