<h3>{{.firstName}} - Welcome to {{.appName}}!</h3>

<p>
    We (the team behind {{.appName}}) appreciate you coming to check us out. We're excited about the potential for {{.appName}}
    and how it will be used to serve you and your colleagues around the world, and we hope you'll find it helpful too.
</p>

<p>
    As you explore and use {{.appName}} we hope you'll find it easy and intuitive, but we also expect that you'll have ideas
    about how we can make it better. We want to hear your feedback, both positive and negative. We created {{.appName}} to
    serve you and if we can do a better job at it please let us know. You can send us any questions or feedback at
    <a href="{{.supportEmail}}">{{.supportEmail}}</a>.
</p>

<h3>Helpful links and information:</h3>
<p>
    <ul>
        <li>{{.appName}} URL: {{.uiURL}}</li>
        <li>Your email address for login: {{.userEmail}}</li>
        <li>Support: {{.supportEmail}}</li>
    </ul>
</p>

<h3>Tell your friends about {{.appName}}!</h3>
<p>
    If you have friends in other organizations that you think could benefit from {{.appName}}, have them visit
    <a href="https://www.wecarry.app">https://www.wecarry.app</a> or contact us at
    <a href="{{.supportEmail}}">{{.supportEmail}}</a> to learn more about using {{.appName}} in their organization.
</p>
