<h4><a href="<%= requestURL %>"><%= requestTitle %></a></h4>

<p>
    <%= receiverNickname %> has accepted your offer to fulfill their request. Be sure to communicate with them
    to coordinate the details. For guidance on things to coordinate, see the
    <a href="<%= uiURL %>/terms#responsibilities-of-providers">Responsibilities of Providers</a> section of our Terms of Use.
</p>

<p>
    For request details and to communicate with <%= receiverNickname %>, go to
    <a href="<%= requestURL %>"><%= requestURL %></a>.
</p>
