<p>The person fulfilling your request on the <a href="<%= uiURL %>"><%= appName %></a> says they have delivered it.</p>
<h4><a href="<%= postURL %>"><%= postTitle %></a></h4>

<p><strong><%= providerNickname %></strong> reported that they have delivered your request
    (Email: <a href="mailto:<%= providerEmail %>"><%= providerEmail %></a>)</p>
<br>
<br>
<p>When you get a chance, please go the the app and confirm that you have received it <a href="<%= postURL %>">here</a>.
    If this doesn't sound right to you, please message them.</p>
