<h4><a href="<%= requestURL %>"><%= requestTitle %></a></h4>

<p>
    Yay! <strong><%= providerNickname %></strong> has offered to help fulfill your request. If you choose to
    accept their offer, be sure to communicate with them to coordinate the details. For guidance
    on things to coordinate, see the
    <a href="<%= uiURL %>/terms#responsibilities-of-requesters">Responsibilities of Requesters</a> section of our Terms of Use.
</p>
<p>
    For request details and to communicate with <%= providerNickname %>, go to
    <a href="<%= requestURL %>"><%= requestURL %></a>.
</p>
